@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@keyframes slideRight {
  from {
    transform: translateX(-800px);
  }

  to {
    transform: translateX(0);

  }
}

.animate-slide {
  animation: slideRight 0.5s ease forwards;
}

@keyframes  move {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;

  }
}

.logo {
  animation: move 0.5s ease forwards;
}

.join-section{
  background-image: url('/freelancebackground.webp');
  height: 400px;
  /* margin:0 20px 0 20px; */
  background-size: cover;
  background-position: center;
}

.cards{
  animation: enter1 1s  linear ;
  /* animation-timeline: view(); */
  animation-range: entry 0%  cover 50%;
}
@keyframes enter1 {
  from{
    opacity: 0;
    transform: translateX(-150px) ;
  }
  to{
    opacity: 1;
    transform: translate(0px);
  }
}

.section2{
  animation: enter2 1s  linear ;
  /* animation-timeline: view(); */
  animation-range: entry 0%  cover 50%;
}
@keyframes enter2 {
  from{
    opacity: 0;
    transform: translateX(350px) ;
  }
  to{
    opacity: 1;
    transform: translate(0px);
  }
}
