@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@keyframes slideRight {
  from {
    transform: translateX(-800px);
  }

  to {
    transform: translateX(0);

  }
}

.animate-slide {
  animation: slideRight 0.5s ease forwards;
}

@keyframes  move {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;

  }
}

.logo {
  animation: move 0.5s ease forwards;
}
 
.clip-slant {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  z-index: -1;
}

.cards{
  animation: enter1 1s  linear ;
  /* animation-timeline: view(); */
  animation-range: entry 0%  cover 50%;
}
@keyframes enter1 {
  from{
    opacity: 0;
    transform: translateX(-150px) ;
  }
  to{
    opacity: 1;
    transform: translate(0px);
  }
}

.section2{
  animation: enter2 1s  linear ;
  /* animation-timeline: view(); */
  animation-range: entry 0%  cover 50%;
}
@keyframes enter2 {
  from{
    opacity: 0;
    transform: translateX(350px) ;
  }
  to{
    opacity: 1;
    transform: translate(0px);
  }
}
